{% extends "base.html" %}

{% block content %}

<div class="container mt-5 text-center">

    <h1class="display-4 fw-bold" style="color: var(--brand-purple);">University Community Fellowship</h1>
    <p class="lead" style="color: var(--brand-gold); letter-spacing: 1px;">
    We Are Friends for life </p>

    <div class="mt-4">

        <a href="{% url 'login' %}" class="btn btn-dark me-2">
            Login
        </a>

        <a href="{% url 'register' %}" class="btn btn-outline-dark">
            Register
        </a>

    </div>

</div>

{% endblock %}
